<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="IGV.gAppItemInd === 'favourite'">{{ 'MENU.MY_FAVOURITE' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'transport'">{{ 'MENU.TRANSPORT' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'dining'">{{ 'MENU.DINING' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'weather'">{{ 'MENU.WEATHER' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'accommodation'">{{ 'MENU.ACCOMMODATION' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'shopping'">{{ 'MENU.SHOPPING' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'entertainment'">{{ 'MENU.ENTERTAINMENT' | translate }}</ion-title>
    <ion-title *ngIf="IGV.gAppItemInd === 'utility'">{{ 'MENU.UTILITY' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- Favourite list -->
  <div *ngIf="IGV.gAppItemInd === 'favourite' && IGV.myAppItemList.length === 0" class="centerAndMiddle">
    <img style="min-width: 75px; min-height:75px; max-width: 75px; max-height:75px" src="assets/img/empty_trash.png">
    <div class="centerAndMiddle">
      {{ 'HOME.EMPTY' | translate }}
    </div>
  </div>
  <ion-list *ngIf="IGV.gAppItemInd === 'favourite'"  >
    <ion-item-sliding #item class="borderBottomTo1" *ngFor="let appItem of IGV.myAppItemList" >
      <button ion-item (click)="itemTapped($event, appItem)">
        <div class="item-note centerAndMiddle" item-left>
          <img style="min-width: 75px; min-height:75px; max-width: 75px; max-height:75px" 
               src="{{appItem.logoPic}}">
        </div>
        <div *ngIf="IGV.gLangInd === 'en'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
          {{appItem.nameEN}}
        </div>
        <div *ngIf="IGV.gLangInd === 'cn'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
          {{appItem.nameCN}}
        </div>
        <div *ngIf="IGV.gLangInd === 'zh'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
          {{appItem.nameZH}}
        </div>
        <div class="item-note " item-right style="width: 27px !important;">
          <img *ngIf="appItem.goodFlag" width="25" height="25" src="assets/img/good.png">
          <img *ngIf="appItem.hotFlag" width="25" height="25" src="assets/img/hot.png">
          <img *ngIf="appItem.saveFlag" width="25" height="25" src="assets/img/star.png">
        </div>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeFromMyFavourite(appItem)">
          <ion-icon style="font-size: 45px;" name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button *ngIf="IGV.gAppItemInd === 'favourite' && IGV.myAppItemList.length !== 0" 
          ion-button full (click)="presentClearAllConfirm()">
    {{ 'HOME.CLEAR_All' | translate }}
  </button>

  <!-- General list -->
  <ion-list *ngIf="IGV.gAppItemInd !== 'favourite'" class="borderBottomTo1">
    <button ion-item class="borderBottomTo1" *ngFor="let appItem of appItemList " (click)="itemTapped($event, appItem)" >
      <div class="item-note centerAndMiddle" item-left>
        <ion-img [width]="75" [height]="75" [src]="appItem.logoPic"></ion-img>
      </div>
     
      <div *ngIf="IGV.gLangInd === 'en'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
        {{appItem.nameEN}} 
      </div>
      <div *ngIf="IGV.gLangInd === 'cn'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
        {{appItem.nameCN}}
      </div>
      <div *ngIf="IGV.gLangInd === 'zh'" class="item-note forceToMiddle" item-left style="min-width: 41%; max-width: 41%;">
        {{appItem.nameZH}}
      </div>

      <div class="item-note" item-right style="width: 27px !important;">
        <img *ngIf="appItem.goodFlag" width="25" height="25" src="assets/img/good.png">
        <img *ngIf="appItem.hotFlag" width="25" height="25" src="assets/img/hot.png">
        <img *ngIf="appItem.saveFlag" width="25" height="25" src="assets/img/star.png">
      </div>
    </button>
  </ion-list>
</ion-content>