<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MENU.SUPPORT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid >
    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <div style="font-size:x-large" class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.THANKS' | translate }}  
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <div style="font-size:x-large" class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.MORE_APPS_COMING_SOON' | translate }} 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <div *ngIf="IGV.isIOS" class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.CHECK_UPDATE_IN_APP_STORE' | translate }}
        </div>
        <div *ngIf="IGV.isAndroid" class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.CHECK_UPDATE_IN_GOOGLE_PLAY' | translate }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <a *ngIf="IGV.isIOS" href="https://itunes.apple.com/us/app/hong-kong-travel-app-pack/id1234073314?ls=1&mt=8">
          <button ion-button style="min-width: 150px; min-height:50px; max-width: 150px; max-height:50px">
            <img style="min-width: 40px; min-height:40px; max-width: 40px; max-height:40px" src="assets/img/update.png">
          </button>
        </a>
        <button *ngIf="IGV.isAndroid" ion-button (click)="openAppStore()" style="min-width: 150px; min-height:50px; max-width: 150px; max-height:50px">
          <div class="centerAndMiddle">
              <img style="min-width: 40px; min-height:40px; max-width: 40px; max-height:40px" src="assets/img/update.png">
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <div class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.PLEASE_RATE' | translate }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <a *ngIf="IGV.isIOS" href="">
          <button ion-button style="min-width: 150px; min-height:50px; max-width: 150px; max-height:50px">
            <img style="min-width: 40px; min-height:40px; max-width: 40px; max-height:40px" src="assets/img/comment.png">
          </button>
        </a>
        <button *ngIf="IGV.isAndroid" ion-button (click)="openStoreRate()" style="min-width: 150px; min-height:50px; max-width: 150px; max-height:50px">
          <div class="centerAndMiddle">
              <img style="min-width: 40px; min-height:40px; max-width: 40px; max-height:40px" src="assets/img/comment.png">
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <div class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.ALSO_YOU_CAN_SUPPORT_ME_BY' | translate }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <button ion-button (click)="showInterstitialVideoImmd()" style="min-width: 170px; min-height:50px; max-width: 170px; max-height:50px">
            {{ 'SUPPORT.WATCH_VIDEO_ADV' | translate }}
        </button>
        <div class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.CLICK_THE_ADV_IF_YOU_ARE_INTERETED' | translate }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="centerAndMiddle">
        <button ion-button (click)="showInterstitialImmd()" style="min-width: 170px; min-height:50px; max-width: 170px; max-height:50px">
          <div class="centerAndMiddle">
             {{ 'SUPPORT.WATCH_NORMAL_ADV' | translate }}
          </div>
        </button>
        <div class="centerAndMiddle fontToBold">
          {{ 'SUPPORT.CLICK_THE_ADV_IF_YOU_ARE_INTERETED' | translate }}
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>