// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$basicColor: #382E1C;

.applyBasicBgColor {
  background-color: $basicColor;
}

.centerAndMiddle{
	text-align: center;
	vertical-align: middle;
}

.rightAndMiddle{
	text-align: right;
	vertical-align: middle;
}

.leftAndMiddle{
	text-align: left;
	vertical-align: middle;
}

.marginRightTo0{
  margin-right: 0px !important;
}

.fontSizeTo18{
    font-size: 18px;
}

.fontSizeTo25{
    font-size: 25px;
}

.colorToBasic{
	color: #382E1C;
}

.colorToWhite{
	color: white;
}

.colorToRed{
	color: red;
}

.fontToBold{
  font-weight: bold;
}

.item-block.item-md .label{
  color: white;
}

.list-md .item-block .item-inner, .list-ios .item-block .item-inner {
  border-bottom: 0;
}

.borderBottomTo1{
  border-bottom: 1px solid #dedede;
}

ion-img {
  background: transparent;
}

// Override loading
.loading-md .loading-wrapper, .loading-ios .loading-wrapper, .loading-wp .loading-wrapper{
  background: none !important;
  box-shadow: none !important;
}

// Override ion-co
ion-col {
  padding-top: 0px;
}

.textareHeightTo150 .text-input{
  height: 150px;
}

ion-refresher-content *{
  stroke: $basicColor !important;
  color: $basicColor !important;
}

